@import "grid";
@import "colors";
@import "font";

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.row{
    width: 100%;
}
.row{
    &:before{
        content: " ";
        display: table;
    }
    &:after{
        @extend .row:before;
        clear: both;
    }
}
[class *= "col-"]{
    float: left;
    min-height: 7px;
}
header{
    padding: 40px 0 60px 0;
    text-align: center;
    & ul li{
        display: inline;
        list-style: none;
        padding-bottom: 20px;
        & a{
            font-family: $font-body;
            color: $txt-body;
            text-decoration: none;
            margin: 20px;
        }
    }
}
header{
    & ul li:hover {
        border-color: $border;
        border-bottom-style: solid;
        border-bottom-width: 4px;
    }
}

section{
    & .podcast{
        width: 100%;
    }
}
section{
    & .googledesign{
        width: 100%;
    }
}
hr{
    border: 2px solid;
    color: $hr-blue;
    margin-top: 50px;
    margin-bottom: 50px;
}
.right{
    float: right;
}
a{
    color: $txt-enlace;
    text-decoration: none;
}
.mini-card{
    background-color: $gray;
    padding: 10px;
    & img{
        float: right;
    }
}